@import "../variables";

.content {
    position: relative;

    &__data {
        width: @sm;

        &_title {
            text-align: center;
        }
        &_description {
            padding: 10px 0 10px 30px;
        }
    }
    &__side-nav {
        width: 100%;
    }
}

.item {
    position: relative;
    margin: 50px;
    height: 300px;
    min-width: 300px;

    &_txt {
        height: 80px;
        font-size: 30px;
        font-weight: 800;
        color: @dark;
    }
    &_block {
        width: 200px;
        height: 200px;
        margin: 10px auto;
        border-radius: 2px;
        cursor: pointer;
        border: 1px solid #ccc;
        transition: box-shadow 100ms ease;

        &:hover {
            -webkit-box-shadow: 10px 10px 40px -10px rgba(0,0,0,0.7);
            -moz-box-shadow: 10px 10px 40px -10px rgba(0,0,0,0.7);
            box-shadow: 10px 10px 40px -10px rgba(0,0,0,0.7);
        }
    }
}

.hr {
    border-bottom: 1px dashed #ccc;
}

.hide {
    display: none;
}
