@import "../../assets/css/variables";

.content {
    position: relative;

    &__data {
        width: @sm;

        &_title {
            text-align: center;
        }
        &_description {
            padding: 10px 0 10px 30px;
        }
    }
}

.loader {
    margin-top: 50px;
}
