<div class="click-catcher" *ngIf="dropdown['isVisible']" (click)="close()"></div>

<div class="dropdown">

    <div class="item{{ dropdown['isVisible'] ? ' selected' : '' }}" (click)="toggle()">
        <div class="text{{ dropdown['centerTitle'] ? ' center': ''}}">{{ dropdown['title'] }}</div>
    </div>

    <div class="list" *ngIf="dropdown['isVisible']">
        <div class="item{{ i === dropdown['selected'] ? ' selected' : '' }}" *ngFor="let item of dropdown['list']; let i = index" (click)="select(i)">
            <div class="text{{ dropdown['centerListItems'] ? ' center': ''}}">{{ item }}</div>
        </div>
    </div>

</div>
