<div class="main" #container>

    <!-- Slider -->
    <app-slider [width]="main.browser.width"
                [height]="main.browser.height">
    </app-slider>

    <!-- Navigation -->
    <nav class="layout-row">
    <div class="layout-center layout-row">
        <a [routerLink]="[ main.navigation.dashboard.id ]">
            <span>{{ main.navigation.dashboard.title }}</span>
        </a>
        <a *ngFor="let link of main.navigation.articles" [routerLink]="[ link.id ]">
            <span>{{ link.title }}</span>
        </a>
    </div>
    </nav>
    <!-- Content -->
    <router-outlet></router-outlet>

</div>

<!-- Popup -->
<app-popup *ngIf="main.popup.active"
           (close)="closePopup()">
</app-popup>
