<div class="main" #container>

    <!-- Slider -->
    <app-slider [width]="main.browser.width"
                [height]="main.browser.height">
    </app-slider>

    <!-- Navigation -->
    <div class="navigation layout-row">
        <div class="layout-center layout-row">
            <div class="navigation__link" (click)="nagivate(main.navigation.dashboard.id)">
                <span>{{ main.navigation.dashboard.title }}</span>
            </div>
            <div class="navigation__link" *ngFor="let link of main.navigation.articles" (click)="nagivate(link.id)">
                <span>{{ link.title }}</span>
            </div>
        </div>
    </div>

    <!-- Content -->
    <router-outlet></router-outlet>

</div>

<!-- Popup -->
<app-popup *ngIf="main.popup.active"></app-popup>
