.navigation {
    background: #fff;
    font-size: 18px;
    height: 50px;
    display: flex;
    font-weight: 600;
    border-bottom: 1px solid #eee;
    padding: 0 70px;

    &__link {
        margin: 0 5px;
        padding: 5px 10px;
        position: relative;
        display: flex;
        cursor: pointer;

        &:hover {
            &::after {
                visibility: visible;
            }
        }
        &::after {
            visibility: hidden;
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            height: 2px;
            width: 100%;
            background: #333;
        }
        &_menu {
            width: 200px;
            display: none;
            margin: 0;
            padding: 10px;
            cursor: pointer;

            img {
                margin: auto;
            }
        }
        img {
            width: auto;
            height: 40px;
        }
        span {
            color: #000;
            margin: auto 5px;
            text-decoration: none;
        }
    }
}

@media all and (max-width: 1024px) {

    .navigation {
        height: auto;

        &__link {
            span {
                margin: auto;
            }
        }
        .layout-row {
            display: block;
        }
        .menu {
            display: flex;
        }
    }
}
