.navigation {
    background: #fff;
    font-size: 18px;
    display: flex;
    font-weight: 600;

    > div {
        margin: 0 auto;
    }
    .hide {
        display: none;
    }
}

.links {
    height: 50px;
    display: flex;
}

.link {
    margin: 0 5px;
    padding: 5px 10px;
    position: relative;
    width: 200px;
    display: flex;
    cursor: pointer;

    &:hover {
        &::after {
            visibility: visible;
        }
    }
    &::after {
        visibility: hidden;
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        height: 2px;
        width: 100%;
        background: #333;
    }
    img {
        width: auto;
        max-width: 200px;
        height: 40px;
    }
    span {
        margin: auto;
        color: #000;
        text-decoration: none;
    }
}

.menu {
    display: none;
    width: 200px;
    margin: auto;
    padding: 10px;
    cursor: pointer;

    img {
        margin: auto;
    }
}

.small {
    .links {
        height: auto;
        display: block;
    }
    .link span {
        margin: auto;
    }
    .menu {
        display: flex;
    }
}
