<div class="dashboard">
    <div *ngIf="loading" class='uil-ring-css loader' style='transform:scale(1);'><div></div></div>
    <div class="dashboard__content" *ngIf="!loading">

        <!-- Events -->
        <div class="item {{ i%2 === 0 ? 'background-gray' : 'background-white' }}" *ngFor="let item of dashboard.events; let i = index;">
            <div class="layout-center-row">

                <div class="item_event" *ngIf="i%2 !== 0">
                    <div class="item_event_interval">
                        <span>{{ item.event.interval }}</span>
                    </div>
                    <div class="item_event_day {{ i%2 !== 0 ? 'background-gray' : 'background-white' }}">
                        <span>{{ item.event.day }}</span>
                    </div>
                    <div class="item_event_month {{ i%2 !== 0 ? 'background-gray' : 'background-white' }}">
                        <span>{{ item.event.month }}</span>
                    </div>
                </div>

                <div class="flex" *ngIf="i%2 !== 0"></div>

                <div class="item_txt {{ i%2 !== 0 ? 'right-side' : ''}}">
                    <h1>{{ item['title'] }}</h1>
                    <h3>{{ item['desc'] }}</h3>
                    <div class="show-more" *ngIf="notEmpty(item['desc-more'])" (click)="toggleReadMore(i)">
                        <div *ngIf="!item.isVisible">čítať viac...</div>
                        <div *ngIf="item.isVisible" class="show-more_txt">{{ item['desc-more'] }}</div>
                    </div>
                </div>

                <div class="flex" *ngIf="i%2 === 0"></div>

                <div class="item_event" *ngIf="i%2 === 0">
                    <div class="item_event_interval">
                        <span>{{ item.event.interval }}</span>
                    </div>
                    <div class="item_event_day {{ i%2 !== 0 ? 'background-gray' : 'background-white' }}">
                        <span>{{ item.event.day }}</span>
                    </div>
                    <div class="item_event_month {{ i%2 !== 0 ? 'background-gray' : 'background-white' }}">
                        <span>{{ item.event.month }}</span>
                    </div>
                </div>
            </div>
        </div>

        <!-- Info -->
        <div class="item {{ dashboard.events.length % 2 === 0 ? 'background-gray' : 'background-white'}}" *ngFor="let items of dashboard.info">
            <div class="flex"></div>

            <div class="item_block" *ngFor="let info of items">
                <h2>{{ info['title'] }}</h2>
                <h5>{{ info['desc'] }}</h5>
            </div>

            <div class="flex"></div>
        </div>

    </div>
</div>
