<div class="nested-article">
    <div class="layout-row" *ngIf="loading">
        <div class='uil-ring-css loader' style='transform:scale(1);'><div></div></div>
    </div>
    <div *ngIf="!loading">

        <!-- article -->
        <div class="nested-article__text">
            <div [innerHTML]="article.title"></div>
        </div>

        <!-- sub-article -->
        <div class="nested-article__content">

            <div class="navigation">
                <div class="link" [ngClass]="{'link_active': isLinkActive(i)}" *ngFor="let item of article.items; let i = index" (click)="selectArticle(item.id, i)">
                    <h2>{{ item.title }}</h2>
                </div>
            </div>

            <div class="article">
                <div class="article_content">
                    <div *ngIf="loadingArticle" class='uil-ring-css loader' style='transform:scale(1);'><div></div></div>
                    <div *ngIf="!loadingArticle" [innerHTML]="article.content"></div>
                </div>
            </div>

        </div>
    </div>
</div>
