<div class="slider layout-row" #wrapper>
    <div class="slider_wrapper flex" *ngIf="slider.active !== -1">

        <!-- Slides -->
        <img [@animateSlide]="i === slider.active ? slider.animation : 'inactive'"
             (@animateSlide.start)="animationStarted($event)"
             (@animateSlide.done)="animationDone($event)"
             *ngFor="let slide of slider.slides; let i = index;"
             src="{{ slidesUrl( slide.filename ) }}" class="slide"
             width="{{ w() }}" height="{{ h(slide.width, slide.height, i === slider.active) }}"
        />

        <div *ngIf="slider.slides.length >= 1">

            <!-- Slider Pagination -->
            <div class="slider-pagination layout-row">
                <div class="circle-wrapper">
                    <div *ngFor="let slide of slider.slides; let i = index;" class="layout-row" (click)="selectSlide(i)">
                        <div class="circle" [ngClass]="{'circle_active': i === slider.active}"></div>
                    </div>
                </div>
            </div>

            <!-- Slider Buttons -->
            <div class="slider-buttons layout-row">

                <!-- Previous Slide -->
                <div class="btn-wrapper_previous">
                    <div class="btn" (click)="previousSlide()">
                        <img src="{{ svgUrl( 'up.svg' ) }}"/>
                    </div>
                </div>

                <div class="flex"></div>

                <!-- Next Slide -->
                <div class="btn-wrapper_next">
                    <div class="btn" (click)="nextSlide()">
                        <img src="{{ svgUrl( 'down.svg' ) }}"/>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>
