<div class="footer">
    <div *ngIf="!footer.loading">

        <div class="image" *ngIf="notEmpty(footer.contact['map']['image'])">
            <a href="{{ footer.contact['map']['redirect'] }}" target="_blank">
                <img src="{{ footer.contact['map']['image'] }}" />
            </a>
        </div>

        <div class="contact">

            <div *ngFor="let item of footer.contact['list']">

                <div class="contact__title">
                    <div *ngFor="let row of item['title']">{{ row }}</div>
                </div>

                <div class="contact__info">
                    <div class="layout-row" *ngIf="notEmpty(item['info'].name)">
                        <img src="{{ img('name.svg') }}" />
                        <span>{{ item['info']['name'] }}</span>
                    </div>
                    <div class="layout-row" *ngIf="notEmpty(item['info'].mail)">
                        <img src="{{ img('mail.svg') }}" />
                        <span>{{ item['info']['mail'] }}</span>
                    </div>
                    <div class="layout-row" *ngIf="notEmpty(item['info'].phone)">
                        <img src="{{ img('phone.svg') }}" />
                        <span>{{ item['info']['phone'] }}</span>
                    </div>
                    <div class="layout-row" *ngIf="notEmpty(item['info'].location)">
                        <img src="{{ img('location.svg') }}" />
                        <span>{{ item['info']['location'] }}</span>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
