<div class="footer">
    <div *ngIf="!loading">

        <div class="map">
            <a href="https://goo.gl/maps/KFS3vVa9t3R2" target="_blank">
                <img src="{{ image }}" />
            </a>
        </div>

        <!-- Kontakt -->
        <div class="contact">

            <div *ngFor="let item of contact">
                <div class="contact__title">
                    <div *ngFor="let row of item['title']">{{ row }}</div>
                </div>
                <div class="contact__info">
                    <div class="layout-row" *ngIf="isSet(item['info'].name)">
                        <img src="{{ img('name.svg') }}" />
                        <div>{{ item['info'].name }}</div>
                    </div>
                    <div class="layout-row" *ngIf="isSet(item['info'].mail)">
                        <img src="{{ img('mail.svg') }}" />
                        <div>{{ item['info'].mail }}</div>
                    </div>
                    <div class="layout-row" *ngIf="isSet(item['info'].phone)">
                        <img src="{{ img('phone.svg') }}" />
                        <div>{{ item['info'].phone }}</div>
                    </div>
                    <div class="layout-row" *ngIf="isSet(item['info'].location)">
                        <img src="{{ img('location.svg') }}" />
                        <div>{{ item['info'].location }}</div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
