.footer {
    overflow: hidden;
    background: #333333;
    display: flex;
    color: #eeeeee;
    min-height: 100%;
    width: 100%;

    > div {
        display: flex;
        width: 100%;
    }
    .site-map {
        display: block;
        flex: 1;
        margin: 50px 0;
        padding: 0 20px;

        .link {
            font-size: 24px;
            margin: 0 5px;
            padding: 5px 10px;
            position: relative;
            display: flex;
            cursor: pointer;
        }
        &:hover {
            &::after {
                visibility: visible;
            }
        }
        &::after {
            visibility: hidden;
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            height: 2px;
            width: 100%;
            background: #fff;
        }
        img {
            width: auto;
            height: 40px;
        }
        span {
            color: #eee;
            margin: auto 5px;
            text-decoration: none;
        }
    }
    .contact {
        max-width: 500px;
        margin: 50px 0;
        padding: 0 20px;

        &__title {
            font-size: 32px;
            padding: 20px 0;
        }
        &__info {
            padding: 20px 0;

            img {
                height: 32px;
                width: 32px;
            }
            div {
                line-height: 125%;
                font-size: 20px;
                padding: 5px 10px;
            }
        }
    }
}

@media all and (max-width: 500px) {
    .footer {
        .contact {
            margin: 20px 0;

            &__title {
                font-size: 20px;
                padding: 10px 0;
                line-height: 150%;
            }
            &__info {
                padding: 10px 0;
            }
        }
        .site-map {
            display: none;
        }
    }
}
