.article  {
    display: flex;
    width: 100%;
    min-height: ~"calc(100% - 50px)";
    color: #333333;
    background: #fff;
    overflow: hidden;
    border-top: 1px solid #eee;

    .article-content {
        display: flex;
        margin: 0 auto;
        width: 1024px;

        > div {
            margin: auto;
        }
    }
}

@media all and (max-width: 1920px) {
    .article  {
        .article-content {
            padding: 0 100px;
        }
    }
}

@media all and (max-width: 1024px) {
    .article  {
        .article-content {
            padding: 0 50px;
            width: 100%;
        }
    }
}

@media all and (max-width: 500px) {
    .article  {
        width: 100%;
        margin: 0;
        padding: 0;

        .article-content {
            display: block;
            width: ~"calc(100% - 30px)";
            padding: 0;
            margin: 0 15px;
        }
    }
}
