/* GLOBAL STYLES */
html {
  color: #333333;
  background-color: #eeeeee;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 14px;
  width: 100%;
}
html body {
  width: 100%;
  margin: 0;
}
html body app {
  overflow-x: auto;
}
h1 {
  font-weight: 800;
  font-size: 40px;
}
.width-xsm app {
  min-width: 320px;
}
.width-xsm app .slider_wrapper,
.width-xsm app .nav-bar_wrapper,
.width-xsm app .content_wrapper {
  width: 320px;
}
.width-xsm app .show-sm {
  display: block;
  padding-bottom: 50px;
}
.width-xsm app .show-sm .nav-bar_menu {
  display: block;
}
.width-xsm app .show-sm .nav-bar_sm__menu .link {
  margin: auto;
}
.width-xsm app .show-sm .nav-bar_sm__menu .link::after {
  height: 1px;
  visibility: visible;
}
.width-xsm .layout-xsm {
  display: block;
}
.width-sm app {
  min-width: 768px;
}
.width-sm app .slider_wrapper,
.width-sm app .nav-bar_wrapper,
.width-sm app .content_wrapper {
  width: 768px;
}
.width-sm app .show-sm {
  display: block;
  padding-bottom: 50px;
}
.width-sm app .show-sm .nav-bar_menu {
  display: block;
}
.width-sm app .show-sm .nav-bar_sm__menu .link {
  margin: auto;
}
.width-sm app .show-sm .nav-bar_sm__menu .link::after {
  height: 1px;
  visibility: visible;
}
.width-sm .layout-sm {
  display: block;
}
.width-md app {
  min-width: 960px;
}
.width-md app .slider_wrapper,
.width-md app .nav-bar_wrapper,
.width-md app .content_wrapper {
  width: 960px;
}
.width-md .layout-md {
  display: block;
}
.width-lg app {
  min-width: 1280px;
}
.width-lg app .slider_wrapper,
.width-lg app .nav-bar_wrapper,
.width-lg app .content_wrapper {
  width: 1280px;
}
.width-lg .layout-lg {
  display: block;
}
.width-xlg app {
  min-width: 1920px;
}
.width-xlg app .slider_wrapper,
.width-xlg app .nav-bar_wrapper,
.width-xlg app .content_wrapper {
  width: 1920px;
}
.width-xlg app .hide-black {
  background: #eeeeee;
}
.width-xlg .layout-xlg {
  display: block;
}
@media all and (min-width: 1940px) {
  body app {
    min-width: 1920px;
  }
  body app .slider_wrapper,
  body app .nav-bar_wrapper,
  body app .content_wrapper {
    width: 1920px;
  }
  body app .hide-black {
    background: #eeeeee;
  }
  body .layout-xlg {
    display: block;
  }
}
@media all and (max-width: 1940px) {
  body app {
    min-width: 1280px;
  }
  body app .slider_wrapper,
  body app .nav-bar_wrapper,
  body app .content_wrapper {
    width: 1280px;
  }
  body .layout-lg {
    display: block;
  }
}
@media all and (max-width: 1300px) {
  body app {
    min-width: 960px;
  }
  body app .slider_wrapper,
  body app .nav-bar_wrapper,
  body app .content_wrapper {
    width: 960px;
  }
  body .layout-md {
    display: block;
  }
}
@media all and (max-width: 980px) {
  body app {
    min-width: 768px;
  }
  body app .slider_wrapper,
  body app .nav-bar_wrapper,
  body app .content_wrapper {
    width: 768px;
  }
  body app .show-sm {
    display: block;
    padding-bottom: 50px;
  }
  body app .show-sm .nav-bar_menu {
    display: block;
  }
  body app .show-sm .nav-bar_sm__menu .link {
    margin: auto;
  }
  body app .show-sm .nav-bar_sm__menu .link::after {
    height: 1px;
    visibility: visible;
  }
  body .layout-sm {
    display: block;
  }
}
@media all and (max-width: 788px) {
  body app {
    min-width: 320px;
  }
  body app .slider_wrapper,
  body app .nav-bar_wrapper,
  body app .content_wrapper {
    width: 320px;
  }
  body app .show-sm {
    display: block;
    padding-bottom: 50px;
  }
  body app .show-sm .nav-bar_menu {
    display: block;
  }
  body app .show-sm .nav-bar_sm__menu .link {
    margin: auto;
  }
  body app .show-sm .nav-bar_sm__menu .link::after {
    height: 1px;
    visibility: visible;
  }
  body .layout-xsm {
    display: block;
  }
}
.layout-row {
  display: flex;
}
.layout-w-center {
  margin: 0 auto;
}
.layout-center {
  margin: auto;
}
.layout-xsm {
  display: none;
}
.layout-sm {
  display: none;
}
.layout-md {
  display: none;
}
.layout-lg {
  display: none;
}
.layout-xlg {
  display: none;
}
.flex {
  flex: 1;
}
.loader {
  margin: auto;
}
.hide-black {
  background: #333333;
}
.nav-bar_sm {
  display: block;
  padding-bottom: 50px;
}
.nav-bar_sm .nav-bar_menu {
  display: block;
}
.nav-bar_sm .nav-bar_sm__menu .link {
  margin: auto;
}
.nav-bar_sm .nav-bar_sm__menu .link::after {
  height: 1px;
  visibility: visible;
}
