/* GLOBAL STYLES */
html {
  color: #333333;
  background-color: #eeeeee;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  width: 100%;
}
html body {
  width: 100%;
  margin: 0;
}
html body app {
  overflow-x: scroll;
}
.width-xsm app {
  min-width: 320px;
}
.width-xsm app .content_wrapper {
  min-width: 320px;
}
.width-xsm app .nav-bar__content {
  display: none;
}
.width-xsm app .nav-bar__content_sm {
  min-width: 320px;
  display: block;
}
.width-xsm app .title {
  font-size: 24px;
}
.width-xsm app .description {
  font-size: 16px;
}
.width-xsm .layout-xsm {
  display: block;
}
.width-sm app {
  min-width: 768px;
}
.width-sm app .content_wrapper {
  width: 768px;
}
.width-sm app .nav-bar__content {
  display: none;
}
.width-sm app .nav-bar__content_sm {
  width: 768px;
  display: block;
}
.width-sm app .title {
  font-size: 34px;
}
.width-sm app .description {
  font-size: 16px;
}
.width-sm .layout-sm {
  display: block;
}
.width-md app {
  min-width: 960px;
}
.width-md app .content_wrapper {
  width: 768px;
}
.width-md app .side-nav {
  width: 192px;
}
.width-md app .nav-bar__content {
  width: 960px;
}
.width-md app .nav-bar__content .link {
  margin: 0;
}
.width-md app .nav-bar__content_sm {
  display: none;
}
.width-md app .title {
  font-size: 44px;
}
.width-md app .description {
  font-size: 18px;
}
.width-md .layout-md {
  display: block;
}
.width-lg app {
  min-width: 1280px;
}
.width-lg app .content_wrapper {
  width: 768px;
}
.width-lg app .side-nav {
  width: 512px;
}
.width-lg app .nav-bar__content {
  width: 1280px;
}
.width-lg app .nav-bar__content .link {
  margin: 0 5px;
}
.width-lg app .nav-bar__content_sm {
  display: none;
}
.width-lg app .title {
  font-size: 64px;
}
.width-lg app .description {
  font-size: 20px;
}
.width-lg .layout-lg {
  display: block;
}
.width-xlg app {
  min-width: 1920px;
}
.width-xlg app .content_wrapper {
  width: 768px;
}
.width-xlg app .side-nav {
  width: 1152px;
}
.width-xlg app .nav-bar__content {
  width: 1920px;
}
.width-xlg app .nav-bar__content .link {
  margin: 0 5px;
}
.width-xlg app .nav-bar__content_sm {
  display: none;
}
.width-xlg app .title {
  font-size: 84px;
}
.width-xlg app .description {
  font-size: 24px;
}
.width-xlg app .hide-black {
  background: #eeeeee;
}
.width-xlg .layout-xlg {
  display: block;
}
@media all and (min-width: 1940px) {
  body app {
    min-width: 1920px;
  }
  body app .content_wrapper {
    width: 768px;
  }
  body app .side-nav {
    width: 1152px;
  }
  body app .nav-bar__content {
    width: 1920px;
  }
  body app .nav-bar__content .link {
    margin: 0 5px;
  }
  body app .nav-bar__content_sm {
    display: none;
  }
  body app .title {
    font-size: 84px;
  }
  body app .description {
    font-size: 24px;
  }
  body app .hide-black {
    background: #eeeeee;
  }
  body .layout-xlg {
    display: block;
  }
}
@media all and (max-width: 1940px) {
  body app {
    min-width: 1280px;
  }
  body app .content_wrapper {
    width: 768px;
  }
  body app .side-nav {
    width: 512px;
  }
  body app .nav-bar__content {
    width: 1280px;
  }
  body app .nav-bar__content .link {
    margin: 0 5px;
  }
  body app .nav-bar__content_sm {
    display: none;
  }
  body app .title {
    font-size: 64px;
  }
  body app .description {
    font-size: 20px;
  }
  body .layout-lg {
    display: block;
  }
}
@media all and (max-width: 1300px) {
  body app {
    min-width: 960px;
  }
  body app .content_wrapper {
    width: 768px;
  }
  body app .side-nav {
    width: 192px;
  }
  body app .nav-bar__content {
    width: 960px;
  }
  body app .nav-bar__content .link {
    margin: 0;
  }
  body app .nav-bar__content_sm {
    display: none;
  }
  body app .title {
    font-size: 44px;
  }
  body app .description {
    font-size: 18px;
  }
  body .layout-md {
    display: block;
  }
}
@media all and (max-width: 980px) {
  body app {
    min-width: 768px;
  }
  body app .content_wrapper {
    width: 768px;
  }
  body app .nav-bar__content {
    display: none;
  }
  body app .nav-bar__content_sm {
    width: 768px;
    display: block;
  }
  body app .title {
    font-size: 34px;
  }
  body app .description {
    font-size: 16px;
  }
  body .layout-sm {
    display: block;
  }
}
@media all and (max-width: 788px) {
  body app {
    min-width: 320px;
  }
  body app .content_wrapper {
    min-width: 320px;
  }
  body app .nav-bar__content {
    display: none;
  }
  body app .nav-bar__content_sm {
    min-width: 320px;
    display: block;
  }
  body app .title {
    font-size: 24px;
  }
  body app .description {
    font-size: 16px;
  }
  body .layout-xsm {
    display: block;
  }
}
.layout-row {
  display: flex;
}
.layout-w-center {
  margin: 0 auto;
}
.layout-center {
  margin: auto;
}
.layout-xsm {
  display: none;
}
.layout-sm {
  display: none;
}
.layout-md {
  display: none;
}
.layout-lg {
  display: none;
}
.layout-xlg {
  display: none;
}
.flex {
  flex: 1;
}
.loader {
  padding: 50px;
  margin: auto;
}
.hide-black {
  background: #333333;
}
button {
  border: 0;
  padding: 0;
  background: transparent;
  outline: none;
}
button:active {
  outline: none;
}
button::-moz-focus-inner {
  border: 0;
}
