@import "../variables";


.slider {
    position: relative;

    &_wrapper {
        position: relative;
        max-width: @xlg;
        min-width: @xsm;
        margin: auto;
    }
    .left-button {
        position: absolute;
        left: 0;
        top: 0;
        height: ~"calc(100% - 30px)";

        img {
            margin: auto;
        }
    }
    .right-button {
        position: absolute;
        right: 0;
        top: 0;
        height: ~"calc(100% - 30px)";

        img {
            margin: auto;
        }
    }
    .slide-button {
        width: 40px;
        cursor: pointer;
        height: 100%;

        &:hover {
            background-color: rgba(0,0,0, 0.2);
        }
    }
    .slide-pagination {
        position: absolute;
        width: ~"calc(100% - 100px)";
        left: 50px;
        bottom: 40px;

        > div {
            margin: auto;
        }
        .circle-wrapper {
            padding: 10px 5px;
            cursor: pointer;
            &:hover {
                .circle {
                    background: @light-blue;
                }
            }
        }
        .circle {
            margin: 0 5px;
            position: relative;
            width: 5px;
            height: 5px;
            background: transparent;
            border-radius: 50%;
            border: 2px solid @dark;

            &_active {
                background: @dark;
            }
        }
    }
}

.slide {
    display: none;
    font-family: sans-serif;
    font-size: 84px;
    width: 100%;
    margin: 0;

    &_active {
        display: block;
    }
}
