<div class="slider layout-row">
    <div class="slider_wrapper flex">

        <!-- Slides -->
        <img [@animateSlide]="i === slide.active ? slide.animation : 'inactive'"
             (@animateSlide.start)="animationStarted($event)"
             (@animateSlide.done)="animationDone($event)"
             *ngFor="let url of slides; let i = index;"
             class="slide" src="{{ url }}"
        />

        <!-- Slider Pagination -->
        <div class="slider-pagination layout-row">
            <div class="circle-wrapper">
                <div *ngFor="let url of slides; let i = index;" class="layout-row" (click)="selectSlide(i)">
                    <div class="circle" [ngClass]="{'circle_active': i === slide.active}"></div>
                </div>
            </div>
        </div>

        <!-- Slider Buttons -->
        <div class="slider-buttons layout-row">
            <div class="slider-buttons_wrapper">
                <div class="btn-wrapper">
                    <div class="btn" (click)="previousSlide()">
                        <img src="assets/svg/up.svg"/>
                    </div>
                </div>
                <div class="btn-wrapper">
                    <div class="btn" (click)="nextSlide()">
                        <img src="assets/svg/down.svg"/>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
