<div class="slider layout-row">
    <div class="slider_wrapper layout-row flex">

        <!-- individual slides -->
        <!-- slideInDown -->
        <div class="slide"
             *ngFor="let url of slides; let i = index;"
             [ngClass]="{
                 'slide_active animated flipInX': i === active
             }">
             <img src="{{ url }}" width="100%" height="auto" />
        </div>

        <!-- button-left -->
        <button class="layout-row left-button" (click)="previousSlide()">
            <img class="slide-button" src="/kcbb-welcome/assets/svg/ic_keyboard_arrow_left_black_24px.svg"/>
        </button>
        <!-- button-right -->
        <button class="layout-row right-button" (click)="nextSlide()">
            <img class="slide-button" src="/kcbb-welcome/assets/svg/ic_keyboard_arrow_right_black_24px.svg"/>
        </button>

        <!-- Pagination -->
        <div class="slide-pagination layout-row">
            <div class="layout-row">
                <button *ngFor="let url of slides; let i = index;"
                     class="circle-wrapper layout-row" (click)="selectSlide(i)">
                     <span class="circle" [ngClass]="{
                               'circle_active': i === active
                           }">
                     </span>
                </button>
            </div>
        </div>

    </div>
</div>
