<div class="slider layout-row">
    <div class="slider_wrapper flex">

        <!-- Slides -->
        <img [@animateSlide]="i === slide.active ? slide.animation : 'inactive'"
             #div (window:resize)="onResize(div.getBoundingClientRect())"
             (@animateSlide.start)="animationStarted($event)"
             (@animateSlide.done)="animationDone($event)"
             *ngFor="let url of slides; let i = index;"
             class="slide" src="{{ url }}"
        />

        <!-- Slider Pagination -->
        <div class="slide-pagination layout-row">
            <div class="circle-wrapper layout-row">
                <div *ngFor="let url of slides; let i = index;"
                     class="layout-row" (click)="selectSlide(i)">
                     <div class="circle" [ngClass]="{
                          'circle_active': i === slide.active
                          }">
                     </div>
                </div>
            </div>
        </div>

        <!-- Slider Buttons -->
        <img src="/kcbb-welcome/assets/svg/left.svg"
             class="button button_left"
             (click)="previousSlide()"
        />
        <img src="/kcbb-welcome/assets/svg/right.svg"
             class="button button_right"
             (click)="nextSlide()"
        />

    </div>
</div>
