@import "../variables";

.slider {
    position: relative;

    &_wrapper {
        position: relative;
        max-width: @xlg;
        min-width: @xsm;
        margin: auto;
        overflow-x: hidden;

        .slide {
            height: auto;
            width: auto;
            margin-left: 50%;
            transform: translateX(-50%);
        }
        //&::after {
        //    content: '';
        //    position: absolute;
        //    left: 0;
        //    top: 0;
        //    height: 100%;
        //    width: 100%;
        //    background-color: @white;
        //    z-index: 0;
        //}
    }
    .button {
        position: absolute;
        height: 100%;
        top: 0;
        width: 40px;
        cursor: pointer;
        z-index: 100;

        &:hover {
            background-color: rgba(0,0,0, 0.1);
        }
        &_right {
            right: 0;
        }
        &_left {
            left: 0;
        }
    }
    .slide-pagination {
        position: absolute;
        width: 100%;
        height: 50px;
        z-index: 100;
        bottom: 0;

        .circle-wrapper {
            margin: auto;
            > div {
                padding: 10px 5px;
                cursor: pointer;
                z-index: 100;
                &:hover {
                    .circle {
                        background: @white;
                    }
                }
            }
        }
        .circle {
            margin: 0 5px;
            position: relative;
            width: 5px;
            height: 5px;
            background: transparent;
            border-radius: 50%;
            border: 2px solid @dark;

            &_active {
                background: @dark;
            }
        }
    }
}
